.title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    color: white;
    font-weight: 700;
    display: block;
    clear: both;
  }
  